<template lang="html">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 286.07 147.92" class="logo">
    <defs>
      <clipPath id="c">
        <path d="M0 0h595.28v841.89H0V0z"></path>
      </clipPath>
      <clipPath id="b">
        <path d="M0 0h595.28v841.89H0V0z"></path>
      </clipPath>
      <clipPath id="a">
        <path d="M0 0h595.28v841.89H0V0z"></path>
      </clipPath>
    </defs>
    <!-- <path fill="none" stroke="#2a3043" stroke-miterlimit="10" stroke-width=".37" d="M.19 147.73h285.69V.2H.18v147.54z"></path> -->
    <path fill="#fff" d="M54.16 133.04H45.3v-14.58h1.05v13.55h7.81v1.03zM58 133.04h1.05v-14.58H58v14.58zM62.78 118.46H73.4v1.05h-4.8v13.54h-1.03V119.5h-4.79v-1.05zM75.9 118.46H86.5v1.05h-4.79v13.54h-1.04V119.5H75.9v-1.05zM99.12 133.04h-8.86v-14.58h1.05v13.55h7.8v1.03zM104 132h8.95v1.04h-10v-14.58h9.8v1.05H104v5.41h7.08v1.05H104V132z"></path>
    <g clip-path="url(#a)" transform="matrix(1.25 0 0 -1.25 -414.12 516.84)">
      <path fill="#fff" d="M429.8 308.62a5.81 5.81 0 0 0-1.73 4.25c0 1.66.58 3.08 1.73 4.24a5.67 5.67 0 0 0 4.18 1.75 5.62 5.62 0 0 0 3.99-1.62c.26-.24.46-.44.58-.6l.18-.27-.58-.5-.16.23c-.07.1-.24.28-.5.53a4.79 4.79 0 0 1-2 1.17c-.49.15-.99.23-1.5.23-1.43 0-2.63-.5-3.62-1.49a5.02 5.02 0 0 1-1.47-3.67c0-1.46.49-2.68 1.47-3.68.99-1 2.2-1.49 3.61-1.49a5.13 5.13 0 0 1 3.56 1.4c.24.21.41.39.53.53l.16.24.58-.5a4.66 4.66 0 0 0-.79-.87 5.68 5.68 0 0 0-2.33-1.36 5.65 5.65 0 0 0-1.7-.27c-1.64 0-3.03.58-4.19 1.75"></path>
    </g>
    <path fill="#fff" d="M138.66 133.04h1.05v-14.58h-1.05v14.58zM143.44 118.46h10.62v1.05h-4.79v13.54h-1.04V119.5h-4.79v-1.05zM157.29 118.46l4.69 8.34 4.69-8.34h1.25l-5.42 9.48v5.1h-1.04v-5.1l-5.42-9.48h1.25zM174.77 118.46h10.62v1.05h-4.8v13.54h-1.03V119.5h-4.8v-1.05z"></path>
    <g clip-path="url(#b)" transform="matrix(1.25 0 0 -1.25 -414.12 516.84)">
      <path fill="#fff" d="M482.6 318.7h4.42c1.03 0 1.89-.33 2.56-.98a3.25 3.25 0 0 0 1.02-2.44c0-.5-.09-.97-.26-1.38-.18-.41-.4-.73-.65-.95a5 5 0 0 0-.76-.56 2.5 2.5 0 0 0-.64-.29l-.27-.07 2.83-5h-.92l-2.75 4.84h-3.74v-4.84h-.84v11.67zm4.42-.84h-3.58v-5.16h3.58c.83 0 1.5.24 2 .72s.75 1.1.75 1.86-.25 1.38-.75 1.86c-.5.48-1.17.72-2 .72"></path>
    </g>
    <path fill="#fff" d="M204.96 132h8.95v1.04h-10v-14.58h9.8v1.05h-8.75v5.41h7.08v1.05h-7.08V132zM226.51 128.77h-7.29l-1.77 4.28h-1.15l6.04-14.59h1.05l6.03 14.59h-1.14l-1.77-4.28zm-.41-1.03l-3.24-7.81-3.22 7.8h6.46zM230.15 118.46h10.62v1.05h-4.8v13.54h-1.03V119.5h-4.8v-1.05z"></path>
    <g fill="none" stroke="#e5929a" stroke-width=".39">
      <g clip-path="url(#c)" transform="matrix(2.54627 0 0 -2.54627 -729.78 851.96)">
        <path d="M349.95 315.16l-7.17-10.63-7.17 10.63a8.64 8.64 0 1 0 14.34 0zm-14.34-4.55l7.17 10.63 7.17-10.63a8.64 8.64 0 1 0-14.34 0zm9.45-4.9l-10.64 7.17 10.64 7.17a8.64 8.64 0 1 0 0-14.34zm-4.56 14.34l10.64-7.17-10.64-7.17a8.65 8.65 0 0 0-9.66 14.34 8.64 8.64 0 0 0 9.66 0z"></path>
      </g>
    </g>
  </svg>
</template>
