<template lang="html">
  <div class="fixed-nav-bar">
    <div class="previous" :class="{ 'visible': pageIndex !== 0 }">
      <button class="button"><a href="#back" @click.prevent="handleDecrementPageIndex">Back</a></button>
    </div>
    <div class="next" :class="{ 'visible': pageIndex !== 4 }">
      <button class="button"><a href="#next" @click.prevent="handleIncrementPageIndex">Next</a></button>
    </div>
  </div>
</template>

<script>
export default {
  props: ['handleDecrementPageIndex', 'handleIncrementPageIndex', 'pageIndex']
}
</script>

<style>
:root {
  --dark-blue: #2A2F42;
  --fuzzy-wuzzy: #CB665E;
  --pink: #E5929A;
  --white: #FDFDFD;
  --mint: #98B7AF;
}
.fixed-nav-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #fff;
  color: #5c868d;
  height: 40px;
  width: 100%;
  z-index: 19999;
  display: flex;
}
.hide-nav .fixed-nav-bar {
  display: none;
}
.fixed-nav-bar > * {
  flex: 0 0 0%;
  box-shadow: 0 0px 5px #000;
  width: 0%;
  overflow: hidden;
  transition: flex .2s;
}
.fixed-nav-bar > *.visible {
  flex: 1 1 50%;
}
.fixed-nav-bar > * > button.button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 100%;
  background-color: #fff;
  border: none;
  color: var(--dark-blue);
  font-weight: bold;
  padding: 0;
  height: 100%;
  width: 100%;
  text-decoration: none;
}
.fixed-nav-bar > * > button.button a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dark-blue);
  font-weight: bold;
  height: 40px;
  width: 100%;
  text-decoration: none;
}
.fixed-nav-bar > * > button.button:focus,
.fixed-nav-bar > * > button.button:active {
  background-color: var(--pink);
  color: var(--white);
}
.fixed-nav-bar > * > button.button:focus a,
.fixed-nav-bar > * > button.button:active a {
  color: #fff;
}

@media (min-width: 1080px) {
  .fixed-nav-bar {
    display: none;
  }
}

</style>
