<template>
  <div class="progress-bar">
    <div class="progress" :style="{ height: progressHeight + '%' }"></div>
    <div class="dot">
      <div class="dot-icon" :class="{ 'active': index >= 0 }" @click.prevent="$emit('setIndex', 0)"></div>
      <div class="tooltip">Little City Treat</div>
    </div>
    <div class="dot">
      <div class="dot-icon" :class="{ 'active': index >= 1 }" @click.prevent="$emit('setIndex', 1)"></div>
      <div class="tooltip">Who are we?</div>
    </div>
    <div class="dot">
      <div class="dot-icon" :class="{ 'active': index >= 2 }" @click.prevent="$emit('setIndex', 2)"></div>
      <div class="tooltip">What's in it for you?</div>
    </div>
    <div class="dot">
      <div class="dot-icon" :class="{ 'active': index >= 3 }" @click.prevent="$emit('setIndex', 3)"></div>
      <div class="tooltip">What you'll need to join</div>
    </div>
    <div class="dot">
      <div class="dot-icon" :class="{ 'active': index >= 4 }" @click.prevent="$emit('setIndex', 4)"></div>
      <div class="tooltip">Register your interest</div>
    </div>
  </div>
</template>

<script type="text/javascript">
  export default {
    props: {
      index: {
        type: Number,
        required: true
      }
    },
    computed: {
      progressHeight () {
        return 100 / 4 * this.index
      }
    }
  }
</script>

<style>
:root {
  --dark-blue: #2A2F42;
  --fuzzy-wuzzy: #CB665E;
  --pink: #E5929A;
  --white: #FDFDFD;
  --mint: #98B7AF;
}
  @keyframes blip {
    from {
      transform: scale(1)
    }
    20% {
      transform: scale(.8)
    }
    50% {
      box-shadow: 0 0 1px #000;
    }
    70% {
      box-shadow: 0 0 3px #000;
      transform: scale(1.2)
    }
    to {
      box-shadow: 0 0 0px #000;
      transform: scale(1)
    }
  }
  .progress-bar {
    display: none;
    position: fixed;
    top: 7vh;
    right: 10px;
    justify-content: space-between;
    flex-direction: column;
    background-color: #000;
    border-radius: 2px;
    height: 70vh;
    width: 2px;
    transition: background-color 2s;
    z-index: 9997;
  }
  .progress-bar {
    background-color: var(--white);
  }
  .progress-bar.right {
    right: 15px;
  }
  .progress-bar .dot-icon {
    position: relative;
    background-color: var(--white);
    border-radius: 50%;
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin-left: -4px;
    transition: background-color 2s;
  }
  .progress-bar .dot-icon.active {
    background-color: var(--fuzzy-wuzzy);
    transition: all .1s .8s;
    animation: blip .5s 1s;
  }
  .progress-bar .progress {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: var(--pink);
    transition: height 1s;
  }
  .progress-bar .dot {
    position: relative;
  }
  .progress-bar .dot .tooltip {
    position: absolute;
    right: 20px;
    top: -60%;
    background-color: #444;
    border-radius: 2px;
    color: #fff;
    font-size: 0.7em;
    min-width: 120px;
    padding: 5px 10px;
    opacity: 0;
    text-align: center;
    visibility: hidden;
    transition: all .5s;
    z-index: 9999;
  }
  .progress-bar .dot .tooltip:after {
    content: "";
    position: absolute;
    top: 7px;
    right: -4px;
    background-color: #444;
    height: 10px;
    width: 10px;
    transform: rotate(45deg);
    z-index: 9998;
  }
  .progress-bar .dot .dot-icon:hover + .tooltip {
    opacity: 1;
    visibility: visible;
  }
  @media (min-width: 1020px) {
    .progress-bar {
      display: flex;
      top: 25vh;
      right: 15px;
      height: 50vh;
    }
  }
</style>
