<template>
  <div class="form-container">
    <div v-if="!submitting">
      <h4 class="second hidden-tablet">{{title}}</h4>
    </div>
    <form @submit.prevent="handleFormSubmit" class="form" v-if="!submitting">
      <p>To find out more about this opportunity just complete your details below.</p><br>
      <div class="form-group">
        <label for="name">Full Name: </label>
        <input class="inputTrigger" type="text" id="name" name="name" v-model="name">
        <span class="valid" v-if="validateName">&check;</span>
      </div>
      <div class="form-group">
        <label for="email">Email: </label>
        <input class="inputTrigger" type="text" id="email" name="email" v-model="email">
        <span class="valid" v-if="validateEmail">&check;</span>
      </div>
      <div class="form-group">
        <label for="number">Phone Number: </label>
        <input class="inputTrigger" type="tel" id="number" name="number" v-model="phone_number">
        <span class="valid" v-if="validateNumber">&check;</span>
      </div>
      <div class="form-group">
        <label>Skills:</label>
        <div class="form-checkboxes">
          <div class="form-checkbox-group">
            <label for="massage">
              <input type="checkbox" name="massage" value="Massage" v-model="skills" id="massage">Massage
              <span class="checked"></span>
            </label>
          </div>
          <div class="form-checkbox-group">
            <label for="waxing">
              <input type="checkbox" name="waxing" value="Waxing" v-model="skills" id="waxing">Waxing
              <span class="checked"></span>
            </label>
          </div>
          <div class="form-checkbox-group">
            <label for="nails">
              <input type="checkbox" name="nails" value="Nails" v-model="skills" id="nails">Nails
              <span class="checked"></span>
            </label>
          </div>
          <div class="form-checkbox-group">
            <label for="lashes_brows">
              <input type="checkbox" name="lashes_brows" value="Lashes / Brows" v-model="skills" id="lashes_brows">Lashes/Brows
              <span class="checked"></span>
            </label>
          </div>
          <div class="form-checkbox-group">
            <label for="spray_tanning">
              <input type="checkbox" name="spray_tanning" value="Spray tanning" v-model="skills" id="spray_tanning">Spray tanning
              <span class="checked"></span>
            </label>
          </div>
          <div class="form-checkbox-group">
            <label for="facials">
              <input type="checkbox" name="facials" value="Facials" v-model="skills" id="facials">Facials
              <span class="checked"></span>
            </label>
          </div>
          <div class="form-checkbox-group">
            <label for="hair">
              <input type="checkbox" name="hair" value="Hair" v-model="skills" id="hair">Hair
              <span class="checked"></span>
            </label>
          </div>
          <div class="form-checkbox-group">
            <label for="make_up">
              <input type="checkbox" name="make_up" value="Make-up" v-model="skills" id="make_up">Make-up
              <span class="checked"></span>
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="description">A Little Information About You: </label>
        <textarea class="inputTrigger" type="textarea" id="description" name="description" v-model="description"></textarea>
        <span class="valid" v-if="validateDescription">&check;</span>
      </div>
      <div class="form-group submit">
        <label></label>
        <button type="submit" class="button" v-if="!loading">Send</button>
      </div>
      <div class="error" v-if="error">
        {{error}}
      </div>
      <p class="privacy-link">We will not share your data with any third parties. For further information view our <nuxt-link to="/privacy-policy">Privacy Policy</nuxt-link></p>
      <p><a href="https://www.littlecitytreat.com" target="_blank" rel="noopener">www.littlecitytreat.com</a></p>
    </form>
    <div v-else>
      <div class="loading" v-if="loading">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" stroke="#5c868d">
          <g fill="none" fill-rule="evenodd" stroke-width="2">
            <circle cx="22" cy="22" r="19.1564">
                <animate attributeName="r" begin="0s" dur="1.8s" values="1; 20" calcMode="spline" keyTimes="0; 1" keySplines="0.165, 0.84, 0.44, 1" repeatCount="indefinite"/>
                <animate attributeName="stroke-opacity" begin="0s" dur="1.8s" values="1; 0" calcMode="spline" keyTimes="0; 1" keySplines="0.3, 0.61, 0.355, 1" repeatCount="indefinite"/>
            </circle>
            <circle cx="22" cy="22" r="8.81268">
                <animate attributeName="r" begin="-0.9s" dur="1.8s" values="1; 20" calcMode="spline" keyTimes="0; 1" keySplines="0.165, 0.84, 0.44, 1" repeatCount="indefinite"/>
                <animate attributeName="stroke-opacity" begin="-0.9s" dur="1.8s" values="1; 0" calcMode="spline" keyTimes="0; 1" keySplines="0.3, 0.61, 0.355, 1" repeatCount="indefinite"/>
            </circle>
          </g>
        </svg>
        <p class="third">Sending...</p>
      </div>
      <div class="success-view" v-else>
        <p class="third">Thank you {{name.split(' ')[0]}}, your interest has been submitted.</p>
        <p class="third">We will be in touch with you shortly.</p>
        <div class="share-buttons">
          <p class="third">Do you know someone else who might be interested?</p>
          <p class="third">Share on Messenger or WhatsApp</p>
          <div class="icons">
            <a :href="fbLink">
              <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              	 viewBox="0 0 512.05 512.05" style="enable-background:new 0 0 512.05 512.05;" xml:space="preserve">
                 <g>
                  <path style="fill:#2196F3;" d="M256.025,0.05C117.67-2.678,3.184,107.038,0.025,245.383c0.361,70.423,31.544,137.157,85.333,182.613
                  	v73.387c0,5.891,4.776,10.667,10.667,10.667c1.999,0,3.958-0.562,5.653-1.621l59.456-37.141
                  	c30.292,11.586,62.459,17.494,94.891,17.429c138.355,2.728,252.841-106.988,256-245.333C508.866,107.038,394.38-2.678,256.025,0.05z
                  	"/>
                  <path style="fill:#FAFAFA;" d="M424.558,174.983c-3.174-4.254-8.993-5.527-13.653-2.987l-110.933,60.48l-69.013-59.179
                  	c-4.232-3.628-10.544-3.387-14.485,0.555l-128,128c-4.153,4.178-4.133,10.932,0.046,15.085c3.341,3.321,8.464,4.057,12.605,1.811
                  	l110.933-60.48l69.077,59.2c4.232,3.628,10.544,3.387,14.485-0.555l128-128C427.35,185.148,427.75,179.215,424.558,174.983z"/>
                </g>
              </svg>
            </a>
            <a :href="whatsappLink">
              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              	 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                <path style="fill:#EDEDED;" d="M0,512l35.31-128C12.359,344.276,0,300.138,0,254.234C0,114.759,114.759,0,255.117,0
                	S512,114.759,512,254.234S395.476,512,255.117,512c-44.138,0-86.51-14.124-124.469-35.31L0,512z"/>
                <path style="fill:#55CD6C;" d="M137.71,430.786l7.945,4.414c32.662,20.303,70.621,32.662,110.345,32.662
                	c115.641,0,211.862-96.221,211.862-213.628S371.641,44.138,255.117,44.138S44.138,137.71,44.138,254.234
                	c0,40.607,11.476,80.331,32.662,113.876l5.297,7.945l-20.303,74.152L137.71,430.786z"/>
                <path style="fill:#FEFEFE;" d="M187.145,135.945l-16.772-0.883c-5.297,0-10.593,1.766-14.124,5.297
                	c-7.945,7.062-21.186,20.303-24.717,37.959c-6.179,26.483,3.531,58.262,26.483,90.041s67.09,82.979,144.772,105.048
                	c24.717,7.062,44.138,2.648,60.028-7.062c12.359-7.945,20.303-20.303,22.952-33.545l2.648-12.359
                	c0.883-3.531-0.883-7.945-4.414-9.71l-55.614-25.6c-3.531-1.766-7.945-0.883-10.593,2.648l-22.069,28.248
                	c-1.766,1.766-4.414,2.648-7.062,1.766c-15.007-5.297-65.324-26.483-92.69-79.448c-0.883-2.648-0.883-5.297,0.883-7.062
                	l21.186-23.834c1.766-2.648,2.648-6.179,1.766-8.828l-25.6-57.379C193.324,138.593,190.676,135.945,187.145,135.945"/>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import db from '@/firebase/firebase'
  import validate from 'validate.js'
  import axios from 'axios'
  export default {
    data () {
      return {
        name: '',
        email: '',
        phone_number: '',
        skills: [],
        description: '',
        error: null,
        submitting: false,
        loading: false,
        fbLink: 'fb-messenger://share/?link=https://recruitment.littlecitytreat.com/',
        whatsappLink: 'whatsapp://send?text=Opal are recruiting in Edinburgh - https://recruitment.littlecitytreat.com/'
      }
    },
    props: ['title'],
    computed: {
      validateName () {
        return this.name.length && validate.isString(this.name)
      },
      validateEmail () {
        const constraints = {
          from: {
            email: true
          }
        }
        return this.email.length && !validate({ from: this.email }, constraints)
      },
      validateNumber () {
        let number = this.phone_number.replace(/\D/g,'').replace(/^[ \t]+|[ \t]+$/, '')
        return number.length > 10 && number.length < 15
      },
      validateDescription () {
        return this.description.length && validate.isString(this.description)
      },
    },
    mounted () {
      const body = document.getElementsByTagName('body')[0]
      Array.from(document.querySelectorAll('form')).map(el => {
        el.addEventListener('focus', () => {
          body.classList.add('hide-nav')
        }, true)
        el.addEventListener('blur', () => {
          body.classList.remove('hide-nav')

        }, true)
      })
    },
    methods: {
      handleFormSubmit () {
        const { name, email, phone_number, skills, description } = this
        if ( !this.validateName || !this.validateEmail || !this.validateNumber || !this.validateDescription) {
          this.error = "Please complete all the required fields"
          return
        }
        this.submitting = true
        this.loading = true
        const data = {
          name,
          email,
          phone_number,
          description,
          skills,
          created_at: new Date(Date.now())
        }
        try {
          axios({
            url: '/.netlify/functions/sendEmail',
            method: 'POST',
            data
          })
          .then(res => {
            return db.collection('recruitment').add(data)
          })
          .then(() => {
            this.$gtag('event', 'form submission')
            this.loading = false
          })
          .catch(err => {
            console.log(err)
            this.loading = false
            this.submitting = false
            this.error = err.message
            this.$gtag('event', 'form submission error')
          })
        } catch (err) {
          console.log(err)
          this.loading = false
          this.submitting = false
          this.error = err.message
          this.$gtag('event', 'form submission error')
        }
      }
    }
  }
</script>

<style>
:root {
  --dark-blue: #2A2F42;
  --fuzzy-wuzzy: #CB665E;
  --pink: #E5929A;
  --white: #FDFDFD;
  --mint: #98B7AF;
}
.form-container {
  position: relative;
  flex: 1;
  min-height: 200px;
  margin-bottom: 30px;
}
form {
  width: 100%;
}
form .form-group {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: baseline;
  margin-bottom: 10px;
}
form label {
  flex: 2;
  font-weight: 400;
  margin-right: 10px;
  text-align: left;
}
form input,
form textarea,
form button.button {
  background-color: #fff;
  color: #000;
  flex: 5;
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1em;
  font-weight: 400;
  border: 1px solid #444;
  border-radius: 0;
  padding: 10px;
  width: 100%;
  -webkit-appearance: none;  /*Prevent mobile Safari from adding shadow.*/
}
select:focus, textarea:focus, input[type="text"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="checkbox"]:focus {
  outline: #5c868d;
  box-shadow: 0 0 3px #5c868d;
}
form input + span.valid,
form textarea + span.valid {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 30px;
  height: 30px;
  width: 30px;
  color: green;
}
form textarea {
  min-height: 200px;
}
form .form-group.submit {
  justify-content: flex-end;
}
form .form-checkboxes {
  display:flex;
  flex-wrap: wrap;
}
form .form-checkbox-group {
  display: flex;
  flex: 1 1 50%
}
form .form-checkbox-group input[type="checkbox"] {
  flex: 0 1;
  width: auto;
  display: inline-block;
  margin: 3px 15px 15px 5px;
  display: none;
}
form .form-checkbox-group label {
  padding-left: 26px;
  margin: 5px 0;
  position: relative;
}
form .form-checkbox-group label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: var(--white);
  border: 1px solid #444;
  height: 16px;
  width: 16px;
}
form .form-checkbox-group label input[type="checkbox"] + span.checked {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  background: var(--pink);
  opacity: 0;
  height: 10px;
  width: 10px;
  transform: scale(0.1);
  transition: opacity 0.2s, transform .2s;
}
form .form-checkbox-group label input[type="checkbox"]:checked + span.checked {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.2s, transform .2s;
}
form .form-group input.button,
form .form-group button.button {
  background-color: var(--fuzzy-wuzzy);
  border: 1px solid #444;
  color: var(--white);
  transition: all .2s;
}
form .form-group button.button:hover,
form .form-group button.button:focus,
form .form-group button.button:active {
  background-color: var(--pink);
  box-shadow: #5c868d;
  outline: #5c868d;
  color: var(--dark-blue);
}
.form .privacy-link {
  font-size: 0.7em;
  margin: 2.4em 1.4em;
}
.loading {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loading svg {
  width: 100px;
  height: 100px;
  display: inline-block;
}
.success-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.share-buttons {
  margin-top: 50px;
}
.share-buttons .icons {
  display: flex;
  justify-content: center;
}
.share-buttons svg {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 10px;
}
form .error {
  text-align: right;
}
@media (min-width: 768px) {
  form {
    width: 80%;
    margin: auto;
  }
}
@media (min-width: 1080px) {
  .form-container {
    display: flex;
    margin-bottom: 0;
  }
  form {
    align-self: center;
    margin: 0;
    padding: 10px;
  }
  form .form-group {
    flex-direction: row;
  }
  form .form-group .form-checkboxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 5;
    padding:5px;
  }
  form .form-checkbox-group {
    display: flex;
    flex: 1 1 50%;
  }
  form .form-checkbox-group label:before {
    height: 20px;
    width: 20px;
  }
  form .form-checkbox-group label input[type="checkbox"] + span.checked {
    height: 14px;
    width: 14px;
  }
  form .form-group textarea,
  form .form-group input {
    padding: 5px;
  }
  form .form-group input.button {
    flex: 0 0 100px;
  }
  form .form-group button.button {
    padding: 5px;
  }
  form textarea {
    min-height: 200px;
  }
}
</style>
