:root {
  --dark-blue: #2A2F42;
  --fuzzy-wuzzy: #CB665E;
  --pink: #E5929A;
  --white: #FDFDFD;
  --mint: #98B7AF;
}

html
{
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #444;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*, *:before, *:after
{
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: var(--dark-blue);
  margin: 0;
  padding: 0;
}
a {
  color: var(--mint);
}
.background-wrapper {
  position: fixed;
  right: -70vw;
  bottom: 0;
  left: -70vw;
  z-index: -1;
}
.background-wrapper svg.skyline {
  display: block;
  width: 100%;
  fill: #5c868d;
  opacity: .15;
  stroke-width: -1px;
}
.hide-nav .background-wrapper {
  bottom: 0;
}
.bold {
  font-weight: bold;
}
@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
  .background-wrapper svg.skyline {
    margin: auto;
    width: 60%;
  }
}
@media (min-width: 1080px) {
  html {
    font-size: 18px;
  }
  .background-wrapper {
    right: 0;
    bottom: 0;
    left: 0;
  }
}

/*** Styles added to fix the issue with zoom in on iphone ***/
/* iPhone < 5: */
@media screen and (device-aspect-ratio: 2/3) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px; }
}

/* iPhone 5, 5C, 5S, iPod Touch 5g */
@media screen and (device-aspect-ratio: 40/71) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px; }
}

/* iPhone 6, iPhone 6s, iPhone 7 portrait/landscape */
@media screen and (device-aspect-ratio: 375/667) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px; }
}

/* iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus portrait/landscape */
@media screen and (device-aspect-ratio: 9/16) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px; }
}
