<template>
  <section class="container">
    <progress-bar :index="pageIndex" @setIndex="handleSetIndex"></progress-bar>
    <div class="page-container">
      <div class="main-image">
        <Logo />
        <h1 class="first bordered">{{title}}</h1>
      </div>
        <transition-group name="page" mode="out-in" tag="div" class="page">
          <div class="body" v-show="pageIndex === 0" :key="0">
            <div class="body-padding">
              <Logo />
              <h2 class="first">Work With Us</h2>
              <h2 class="second">Join the team</h2>
              <svg xmlns="http://www.w3.org/2000/svg" fill="#fff" class="arrows" viewBox="0 0 50 50">
                <path d="M44.99 7.98a1 1 0 0 0-.7.31L25 27.6 5.7 8.29a1 1 0 0 0-1.64.32 1 1 0 0 0 .23 1.1L25 30.4l20.7-20.7A1 1 0 0 0 45 7.98zm0 13a1 1 0 0 0-.7.31L25 40.6 5.7 21.29A1 1 0 0 0 5 21c-.42 0-.78.25-.94.62a1 1 0 0 0 .23 1.1L25 43.4l20.7-20.7a1 1 0 0 0-.71-1.73z"/>
              </svg>
            </div>
          </div>
          <div class="body" v-show="pageIndex === 1" :key="1">
            <div class="body-padding">
              <h4 class="second hidden-tablet">Who are we?</h4>
              <p class="third">The first of its kind in Edinburgh.</p>
              <svg class="dot-break" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 50 50">
                <path d="M50 25c0 13.79-11.2 25-25 25S0 38.79 0 25a25 25 0 0 1 50 0z"/>
              </svg>
              <p class="third">A booking platform allowing customers to effortlessly book mobile treatments.</p>
              <svg class="dot-break" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 50 50">
                <path d="M50 25c0 13.79-11.2 25-25 25S0 38.79 0 25a25 25 0 0 1 50 0z"/>
              </svg>
              <p class="third">Beauty, hair, make-up, massage.</p>
              <svg class="dot-break" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 50 50">
                <path d="M50 25c0 13.79-11.2 25-25 25S0 38.79 0 25a25 25 0 0 1 50 0z"/>
              </svg>
              <p class="third">Appointments will be available in the customer's home, office or hotel between 7am and 10pm.</p>
              <svg class="dot-break" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 50 50">
                <path d="M50 25c0 13.79-11.2 25-25 25S0 38.79 0 25a25 25 0 0 1 50 0z"/>
              </svg>
              <p class="third">Launching Soon.</p>
            </div>
          </div>
          <div class="body" v-show="pageIndex === 2" :key="2">
            <div class="body-padding">
              <h4 class="second hidden-tablet">What's in it for you?</h4>
              <p class="third">We'll do the advertising/marketing.</p>
              <svg class="dot-break" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 50 50">
                <path d="M50 25c0 13.79-11.2 25-25 25S0 38.79 0 25a25 25 0 0 1 50 0z"/>
              </svg>
              <p class="third">We manage bookings and payments, leaving you admin free.</p>
              <svg class="dot-break" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 50 50">
                <path d="M50 25c0 13.79-11.2 25-25 25S0 38.79 0 25a25 25 0 0 1 50 0z"/>
              </svg>
              <p class="third">You decide the hours you work, between 7am and 10pm, 7 days a week.</p>
              <svg class="dot-break" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 50 50">
                <path d="M50 25c0 13.79-11.2 25-25 25S0 38.79 0 25a25 25 0 0 1 50 0z"/>
              </svg>
              <p class="third">Work full time, part time or around your current job and supplement your existing income.</p>
              <svg class="dot-break" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 50 50">
                <path d="M50 25c0 13.79-11.2 25-25 25S0 38.79 0 25a25 25 0 0 1 50 0z"/>
              </svg>
              <p class="third">High commissions and uncapped earnings.</p>
              <svg class="dot-break" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 50 50">
                <path d="M50 25c0 13.79-11.2 25-25 25S0 38.79 0 25a25 25 0 0 1 50 0z"/>
              </svg>
              <p class="third">We support you every step of the way</p>
            </div>
          </div>
          <div class="body" v-show="pageIndex === 3" :key="3">
            <div class="body-padding">
              <h4 class="second hidden-tablet">What you'll need to join</h4>
              <p class="third">Eligible to work in the UK.</p>
              <svg class="dot-break" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 50 50">
                <path d="M50 25c0 13.79-11.2 25-25 25S0 38.79 0 25a25 25 0 0 1 50 0z"/>
              </svg>
              <p class="third">Qualified and experienced.</p>
              <svg class="dot-break" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 50 50">
                <path d="M50 25c0 13.79-11.2 25-25 25S0 38.79 0 25a25 25 0 0 1 50 0z"/>
              </svg>
              <p class="third">Passion.</p>
              <svg class="dot-break" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 50 50">
                <path d="M50 25c0 13.79-11.2 25-25 25S0 38.79 0 25a25 25 0 0 1 50 0z"/>
              </svg>
              <p class="third">Own a smartphone.</p>
              <svg class="dot-break" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 50 50">
                <path d="M50 25c0 13.79-11.2 25-25 25S0 38.79 0 25a25 25 0 0 1 50 0z"/>
              </svg>
              <p class="third">Your own transport.</p>
            </div>
          </div>
          <div class="body" v-show="pageIndex === 4" :key="4">
            <the-form title="Register your interest"></the-form>
          </div>
        </transition-group>
    </div>
    <mobile-navigation
      :handleIncrementPageIndex="handleIncrementPageIndex"
      :handleDecrementPageIndex="handleDecrementPageIndex"
      :pageIndex="pageIndex"
    ></mobile-navigation>
  </section>
</template>

<script>
import TheForm from '~/components/TheForm.vue'
import ProgressBar from '~/components/ProgressBar.vue'
import Logo from '~/components/Logo.vue'
import MobileNavigation from '~/components/MobileNavigation.vue'

export default {
  data () {
    return {
      ticking: false,
      pageIndex: 0,
      scrollPos: 0
    }
  },
  computed: {
    title () {
      switch (this.pageIndex) {
        case 0:
          return 'Edinburgh'
          break;
        case 1:
          return 'Who are we?'
          break;
        case 2:
          return 'What\'s in it for you?'
          break;
        case 3:
          return 'What you\'ll need to join'
          break;
        case 4:
          return 'Register your interest'
          break;
        default:
          return 'Opal | Edinburgh'

      } (index)
    }
  },
  mounted () {
    const pages = Array.from(document.querySelectorAll('.page'))

    /**
    *  Use passive event listeners on events (if supported)
    */
    let supportsPassive = false;
    try {
      const opts = Object.defineProperty({}, 'passive', {
        get: function() {
          supportsPassive = true;
        }
      });
      window.addEventListener("testPassive", null, opts);
      window.removeEventListener("testPassive", null, opts);
    } catch (e) {}

    /**
    * Prevent Default behaviour of navigation events
    */
    var keys = [33,34,35,36,37,38,39,40]

    function preventDefault(e) {
      e = e || window.event
      if (e.preventDefault)
          e.preventDefault()
      e.returnValue = false
    }

    function keydown(e) {
        for (var i = keys.length; i--;) {
            if (e.keyCode === keys[i]) {
                preventDefault(e)
                return;
            }
        }
    }

    function wheel(e) {
      preventDefault(e)
    }

    document.onkeydown = keydown

    /**
    *  Handle Key Events
    */
    document.addEventListener('keyup', (e) => {
      if (e.keyCode === 40) { // ArrowDown
        this.handleEmulatedScroll()
      }
      if (e.keyCode === 38) { // ArrowUp
        this.handleEmulatedScroll(true)
      }
    })


    /**
    *  Handle Mousewheel Events
    */
    document.addEventListener('mousewheel', (e) => {
      // e.preventDefault()
      // e.stopPropagation()
      e.wheelDelta < 0 ? this.handleEmulatedScroll() : this.handleEmulatedScroll(true)
    }, supportsPassive ? { passive: true } : false)
    document.addEventListener('wheel', (e) => {
      // e.preventDefault()
      // e.stopPropagation()
      e.deltaY < 0 ? this.handleEmulatedScroll(true) : this.handleEmulatedScroll()
    }, supportsPassive ? { passive: true } : false)

  },

  methods: {
    handleIncrementPageIndex () {
      if (this.pageIndex === 4) return
      this.pageIndex += 1
    },
    handleDecrementPageIndex () {
      if (this.pageIndex === 0) return
      this.pageIndex -= 1
    },
    handleSetIndex (index) {
      this.pageIndex = index
    },
    handleEmulatedScroll (isDirectionUp) {
      if (this.$route.name !== 'index') return
      if (!this.ticking) {
        const pages = Array.from(document.querySelectorAll('.page'))
        let pageHeight = document.querySelector('.page').getBoundingClientRect().height
        let up = isDirectionUp
        if (!up) {
          if (this.pageIndex >= 4) {
            return
          } else {
            this.pageIndex += 1
          }
          setTimeout(() => {
            this.ticking = false
          }, 1000)
        } else {
          if (!this.pageIndex) {
            return
          } else {
            this.pageIndex -= 1
          }
          setTimeout(() => {
            this.ticking = false
          }, 1000)
        }
        this.ticking = true
      }
    }
  },
  watch: {
    pageIndex (value) {
      if (value === 4) window.scrollTo(0, 0)
    }
  },
  components: {
    Logo,
    ProgressBar,
    TheForm,
    MobileNavigation
  }
}
</script>

<style>
:root {
  --dark-blue: #2A2F42;
  --fuzzy-wuzzy: #CB665E;
  --pink: #E5929A;
  --white: #FDFDFD;
  --mint: #98B7AF;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
body {
  background-color: var(--dark-blue);
  color: var(--white);
}
.primary {
  color: var(--white);
}
.container {
  position: relative;
  margin: auto;
  padding: 10px;
  height: 93vh;
  margin-bottom: 7vh;
}
.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page-container > * {
  width: 100%;
  flex: 1 1 100%;
  text-align: center;
}
.page-container .main-image {
  display: none;
}
.hide-nav .container {
  height: 100vh;
  margin-bottom: 0;
}
.first {
  display: block;
  font-family: 'Playfair Display', serif;
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 1em;
  padding: .5em;
}
.first.bordered {
  margin-bottom: 2em;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}
.second {
  margin-bottom: 1.6em;
  font-size: 1.4em;
  font-weight: 300;
}
.third {
  word-spacing: 5px;
  padding-bottom: .4em;
}
.page {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 1;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /*height: calc(100vh - 20px);*/
  min-height: calc(100vh - 20px);
}
.page svg.logo {
  display: block;
  margin: auto;
  /*width: 50%;*/
}
.page svg.arrows {
  display: none;
}
.page hr {
  width: 1em;
  margin: 0 auto 15px auto;
}
.page .body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 20px;
}
.page .body svg.dot-break {
  display: block; /* Overrides the hide rule above */
  height: 6px;
  width: 6px;
  margin: 5px auto 10px auto;
  fill: var(--pink);
}

.links {
  padding-top: 15px;
}

/**
* Page Transitions
*/
.page-enter-active, .page-leave-active,
.page-enter, .page-enter-leave-to {
  transition: all .5s;
}
.page-enter-active.body {
  opacity: 1;
  transition-delay: .5s;
}
.page-enter.body {
  opacity: 0;
  transition-delay: .5s;
}
.body.page-leave-to.body {
  opacity: 0;
  transition: 0s 0s;
}
.page-leave-active.body {
  opacity: 0;
  transition: 0s 0s;
}


@media (min-width: 1080px) {
  .container {
    height: 100vh;
    margin-bottom: 0;
    padding: 10px;
    overflow-x: hidden;
  }
  .page-container {
    position: relative;
    flex-direction: row;
    justify-content: flex-end;
  }
  .page-container > .page {
    flex: 0 1 50vw;
    flex-direction: column;
    text-align: center;
  }
  .page-container .main-image {
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
  }
  .page-container .main-image h1 {
    margin: 30px 0;
  }
  .page-container .main-image svg.logo {
    width: 500px;
  }
  .page {
    height: calc(100vh - 20px);
  }
  .page > * {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .page svg.logo {
    display: none;
  }
  .page .body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    min-height: 100vh;
    width: 100%;
  }
  .page .body svg.dot-break {
    height: 8px;
    width: 8px;
    margin: 5px auto 15px auto;
  }
  .page svg.arrows {
    display: inline-block;
    height: 50px;
    width: 50px;
    opacity: 1;
    margin: 0;
    fill: var(--pink);
    animation: bounce 1.2s 1.2s infinite;
  }
  .page hr {
    width: 1em;
    margin: 0 auto 25px auto;
  }
  .page .body .body-padding {
    padding: 0 50px;
  }
  .page svg {
    display: block;
    width: 450px;
    margin-bottom: 30px;
  }
  .hidden-tablet {
    display: none;
  }
}
</style>
