<template lang="html">
  <div class="privacy-container">
    <div class="privacy-policy">
      <h2>Privacy Policy</h2>
      <p>
        Any information gathered using our web properties (mentioned in this document)
        is processed in accordance with the Data Protection Act 1998 (latest revision)
        and the G.D.P.R. (2018).
      </p>
      <p>
        We do not require users to enter personally-identifiable information to view
        or share events and general pages on our web properties.
      </p>
      <p>
        We take data protection very seriously and will not pass on, resell or lend
        personal data to third-parties for commercial purposes unless consent is
        explicitly granted by the user when they submit their information to us.
        This includes, but is not limited to; contact forms, emails, comments,
        &amp; enquiries.
      </p>
      <p>
        We handle users’ data with the utmost respect. Users’ data will only be held
        or used with the relevant mailing list they have consented to, and are not
        under any circumstances sent unsolicited communications. We regularly
        review our internal data handling policies and practices.
      </p>
      <p>
        Users may unsubscribe from further communications at any time emailing us
        directly at the email address below.
      </p>
      <p>
        If you wish to request a copy, modify or request deletion of your
        personally-identifiable data, please email our Data Protection Officer
        at dpo@littlecitytreat.com to receive a response within 30 days.
      </p>
      <p>
        Our data retention period is seven years. Any personally-identifiable
        information that was collected more than seven years ago without renewed
        consent will be deleted.
      </p>
      <p>
        If you use the Little City Treat web properties outside the EU, your
        information may be transferred using servers outside the EU in order
        to provide you with those services. We aim to ensure our service providers
        and processors are transparent and any third party processor we use to
        store data has a renewed EU/Swiss Privacy Shield certification.
      </p>
      <nuxt-link class="button" to="/">Return Home</nuxt-link>
    </div>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="css" scoped>
.privacy-container {
  max-width: 960px;
  padding: 30px;
  margin: 30px auto;
}
h2, p {
  margin-bottom: 20px;
}
</style>
